{% extends "template.xhtml" %}
{% block content %}

	<h1>Random Fails</h1>
	<form action="" method="get">
	
		<table class="filtering">
		<tr>
			<th class="label"><label for="projectNameSelect">Projects (max 5):</label></th>
			<td colspan="6">
				<table id="projectOptions">
					{% for prefix,infixes in projectNameOptions.items %}
						{% for infix,options in infixes.items %}
							<tr>
								{% if forloop.first %}
								<th rowspan="{{infixes|length}}">{{prefix}}</th>
								{% endif %}
								<th>{{infix}}</th>
								<td>{{names}}
								{% for option in options %}
									<input type="checkbox" name="projectNames" value="{{option}}"
											id="projectNameOption-{{option|slugify}}"
											{% if option in projectNames %}checked="yes"{% endif %}
									/>
									<label for="projectNameOption-{{option|slugify}}">{{option}}</label>
								{% endfor %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}
				</table>
			</td>
		</tr>
		</table>

		<table class="filtering">
		<tr>
			<th class="label"><label for="minRanTests">Min ran tests required:</label></th>
			<td class="input">
			<select name="minRanTests">
				{% for option in minRanTestsOptions %}
				<option{% ifequal option minRanTests %} selected="yes"{% endifequal %}>{{option}}</option>		
				{% endfor %}
			</select>
			</td>
	
			<th class="label"><label for="maxFailedTests">Max failed tests allowed:</label></th>
			<td class="input">
			<select name="maxFailedTests">
				{% for option in maxFailedTestsOptions %}
				<option{% ifequal option maxFailedTests %} selected="yes"{% endifequal %}>{{option}}</option>		
				{% endfor %}
			</select>
			</td>
	
			<th class="label"><label for="maxBuilds">Max builds analysed:</label></th>
			<td class="input">
			<select name="maxBuilds">
				{% for option in maxBuildsOptions %}
				<option{% ifequal option maxBuilds %} selected="yes"{% endifequal %}>{{option}}</option>		
				{% endfor %}
			</select>
			</td>
			<td class="submit"><input type="submit" value="Refresh" /></td>
		</tr>
		<tr/>
	
		</table>

	</form>

	<br/>
	
	<span id="testResultsContainer"></span>
	<script type="text/javascript">

			var projectNames = $('projectNames').val();
			var minRanTests = $('minRanTests').val();
			var maxFailedTests = $('maxFailedTests').val();
			var maxBuilds = $('maxBuilds').val();
			$("#testResultsContainer").html("{%if projectNames%}Loading data, please wait...{%endif%}");
			$("#testResultsContainer").load("{% url randomFailsResults projectNames|join:',' minRanTests maxFailedTests maxBuilds %}",
				function() {
					$("#showGreenBuilds").click( function(){
						$(".buildGREEN").toggle();
					});
					$("#showBlackBuilds").click( function(){
						$(".buildBLACK").toggle();
					});
			});

	</script>


{% endblock content %}