{% if buildData %}
	<table><tr>
		{% for project in projectsLegend %}
		<td class="project{{project.1}}">{{project.0}}</td>
		{% endfor %}
	</tr></table>
	<table width="100%">
	<tr><th></th><td colspan="{{buildsCount}}" class="timeArrow">newest &rarr; oldest</td></tr>
	<tr><th style="text-align: right;">
			<label for="showGreenBuilds">Show green builds</label><input id="showGreenBuilds" type="checkbox" checked="checked" style="margin-right: 20px;"/>
			<label for="showBlackBuilds">Show black builds</label><input id="showBlackBuilds" type="checkbox" checked="checked" style="margin-right: 20px;" />
		</th>
		{% for build in buildData %}
		<th class="projectHead project{{build.colorId}} build{{build.status}}" title="{{build.fullDisplayName}}">
			<a href="{{jenkinsUrl}}/job/{{build.projectName}}/{{build.buildNumber}}"><div class="statusBox">{{build.buildNumberShort|safe}}</div></a>
		</th>
		{% endfor %}
	</tr>
	<tr><th>BUILD STATUS</th>
		{% for build in buildData %}
		<td class="{{build.status}} build{{build.status}}">
			<div class="statusBox"/>
		</th>
		{% endfor %}
	</tr>	
	<tr></tr>
	{% for test in testData|dictsort:"shortName" %}
	<tr class="{% cycle 'odd' 'even' %}"><th title="{{test.fullName}}">{{test.shortName}}</th>
		{% for report in test.results %}
			<td class="{{report.status}} build{{report.status}}">
				{% if report.status in 'REGRESSIONFAILED' %}
					<a href="{{jenkinsUrl}}/job/{{report.build.projectName}}/{{report.build.buildNumber}}/testReport/{{report.packageName}}/{{report.className}}/{{report.methodName}}/"
						title="Click!">
						<div class="statusBox"/>
					</a>
				{% else %}<div class="statusBox"/>
				{% endif %}
			</td>
		{% endfor %}	
	</tr>
	{% endfor %}
	</table>
{% endif %}