{% extends "template.xhtml" %}

{% block content %}

	<div id="output" />
	
	<script type="text/javascript">
		var projectName = "{{projectName}}";
		var builds = {{buildsToCollect|safe}};
		for (var i in builds) {
			var build = builds[i];
			$.ajax({
				url: "{% url doCollect projectName "1111" %}".replace("1111", build),
				async: false,
				success: function() {
					$("#output").append("<br/>" + projectName + " " + build + " fetched");
				}
			});
		}
	</script>

{% endblock %}