{% extends "template.xhtml" %}

{%block content %}

<h2>Tests Statistics project</h2>

<h3>Viewer</h3>
<div class="section">
	<a href="{% url randomFails %}" class="link">/viewer/randomFails</a> - shows failed tests from recent unstable builds of selected projects.
	<div class="section">
		
		<h4>Notes:</h4>
		<ul>
			<li>Max 5 projects can be selected.</li>
			<li>
				Builds classification:
				<ul>
					<li>green - at least <i>Min ran tests required</i> tests ran, all passed</li>
					<li>black - less than <i>Min ran tests required</i> tests run or more than <i>Max failed tests allowed</i> tests failed
					<li>unstable - all other</li>
				</ul>
			</li>
			<li>Only failed tests from unstable builds are listed.</li>
			<li>
				Possible tests results:
				<span class="BLACK">BLACK</span>,
				<span class="FAILED">FAILED</span>,
				<span class="REGRESSION">REGRESSION</span>,
				<span class="SKIPPED">SKIPPED</span>,
				<span class="PASSED">PASSED</span>,
				<span class="FIXED">FIXED</span>,
				<span class="GREEN">GREEN</span>.
			</li>
			<li>
				Possible build status results:
				<span class="BLACK">BLACK</span>,
				<span class="FAILURE">FAILURE</span>,
				<span class="UNSTABLE">UNSTABLE</span>,
				<span class="GREEN">GREEN</span>.
			</li>
			<li>Clicking on <span class="FAILED">FAILED</span> or <span class="REGRESSION">REGRESSION</span> test result will redirect to detailed test report.</li>
			<li>Clicking on build number will redirect to detailed build info.</li>
		</ul>
	</div>
</div>

<h3>Collector</h3>
<div class="section">
	<script>
		document.write("{% url collectLast "PROJECT" 999 888 %}"
			.replace("PROJECT", "<i>&lt;projectName&gt;</i>")
			.replace("999", "<i>&lt;buildNumber&gt;</i>")
			.replace("888", "<i>&lt;count&gt;</i>")
		);
	</script> - collects data about last <i>count</i> builds of <i>projectName</i> project starting from <i>buildNumber</i>
	<div class="section">
		<h4>Examples:</h4>
		<ul>
			<li>{% url collectLast "BPE_oracle" 2345 1 %} - collect test results from BPE_oracle build 2345</li>
			<li>{% url collectLast "BPE_remote" 1560 3 %} - collect test results from BPE_remote builds 1560, 1559, 1558</li>
		</ul>
		<h4>Notes:</h4>
		<ul>
			<li>Existing data will be overriden.</li>
			<li>You can (and should!) add post build step to jenkins builds to automagically collect test data after each build.</li>
		</ul>
	</div>
</div>

{% endblock content %}