<html>
<head>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<style type="text/css">
		div.statusBox {
			width: 20px;
			height: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		
		th {font-size: 12px; text-align: left;}
		
		tr.odd { background-color: silver;}
		
		.FAILED,
		.REGRESSION,
		.FAILURE
			{background-color: #cc0000;}
		.BLACK
			{background-color: #808080;}
		.PASSED,
		.FIXED,
		.GREEN,
		.MISSING
			{background-color: #00cc00;}
		.UNSTABLE,
		.SKIPPED
			{background-color: #cccc00;}
		
		.project0 {background-color: 7777dd;}
		.project1 {background-color: dddd77;}
		.project2 {background-color: 66ccff;}
		.project3 {background-color: pink;}
		.project4 {background-color: silver;}
		
		.projectHead {text-align: center;}
		
		.timeArrow {font-weight: bold; font-size: 12px;}
		
		a {text-decoration: none; color: black;}
		a.link {color: blue;}
		
		.section {margin: 10px 0px 10px 30px;}
		
		table.filtering {
			width: 100%;
			background-color: #f0f0f0;
			padding: 5px;
		}
		
		table.filtering .label {
			width: 15%;
		}
		
		table.filtering .input {
			
		}
		
		table.filtering .submit input {
			color: red;
		}
		
		table#projectOptions {
			width: 100%;
			border-bottom: 1px solid silver;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		table#projectOptions th,
		table#projectOptions td {
			border-top: 1px solid silver;
			valign: top;
		}
		
	</style>
</head>
<body>

{% block content %}{% endblock content %}

</body>
</html>